body{
    background-image: 
    url("2KI4sB.jpg");
}

.rect{
  background: lightblue;
  
  width: 0px;
  height: 0px;
  
  border-top: green solid 100px;
  border-right: red solid 100px;
  border-bottom: blue solid 100px;
  border-left: yellow solid 100px;
  margin-left: 100px;
}

.top{
  background: lightgreen;
  width: 200px;
  height: 50px;
  border-top: green double 6px;
  border-left: green solid 4px;
  border-bottom: green dotted 4px;
  border-right: green solid 4px;
  margin-left: 100px;
  margin-top: 100px;


}
.rect2{
  background: lightgreen;
  
  width: 150px;
  height: 200px;

  margin-left: 125px;
  border: 4px solid green;
  border-top: 8px;
 
}

.col{
  background: navy;
  width: 200px;
  height: 400px;
  margin: 50px 5px;
  display: inline-block;


}